@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
  @apply w-full border p-2 rounded focus:outline-none focus:ring;
}

.btn-primary {
  @apply w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700;
}
